<!DOCTYPE html>
<html>
  <head>
    <title>Tournaments</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">



  </head>

  <body>
  <% = react_component ( "Hola" )%>cl
    <%= yield %>
  </body>
</html>
